* {
    box-sizing: border-box;
    overflow: auto;
  }

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #FFF8DC;
  border: 2px solid black;
  padding: 30px;
  margin: 10px; /*1 added spacing */
}
body {
  background-color: #8B1111
}

.byline {
  text-decoration: underline; /*2 underline */
  
}

@media(min-width: 650px) {
.left-column {
  float: left;
  width: 50%;
  overflow: auto;

}

.right-column {
  float: left;
  width:50%;
  overflow: auto;
  padding-left: 20px;

}

}
